@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "delete personal data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<section class="w-100 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <form id="delete-user" class="artfolio-content" method="post">
        <div class="alert alert-warning" role="alert">
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
        </div>

        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }

        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-danger" style="margin-top: 10px;">delete data and close my account</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}