@page
@model PersonalDataModel
@{
    ViewData["Title"] = "personal data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<section class="w-100 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <div class="artfolio-content">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group" style="margin-top: 10px">
            <button class="btn btn-artfolio" type="submit">Download</button>
        </form>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}