html {
  height: 100%;
  padding: 0;
  background: url("./background.svg") left top;
}

body {
  font-family: "Source Sans Pro";
  font-size: 18px;
  height: 100%;
  border: 0px solid black;
  margin: 0;
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
}

header {
  /* box-shadow: 0 5px 30px #f3f3f3; */
  position: relative;
  z-index: 3;
}

nav {
  min-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* box-shadow: 0 3px 15px lightgray; */
}

/* LEFT NAVIGATION */
nav .nav-left {
  max-width: 75%;
  min-width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
}

.brand {
  font-size: 4rem;
  color: #747474;
  font-weight: 200;
}

.brand span {
  color: #f9a585;
}

/* SEARCH INPUT */
.search-box {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px 15px;
  margin-left: 20px;
  margin-bottom: 12px;

  background-color: white;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box input {
  width: 100%;
  font-size: 1.1rem;
  color: #a4a4a4;
  font-weight: 200;
  margin: 10px 10px 10px 5px;
  padding: 0px 10px;
  border: 0;
}

.search-box input::placeholder {
  font-weight: 200;
  color: #a4a4a4;
}

.search-box input:active,
.search-box input:focus {
  outline: none;
}

.search-box img {
  width: 20px;
}

/* RIGHT MENU */
nav .nav-right {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  color: black;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.primary-underline {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.primary-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 0;
  border: 2px solid #f9a585;
  border-radius: 10px;
}

.primary-underline:hover:before {
  border: 2px solid #fc8b5e;
}

.sign-up {
  color: white;
  background-color: #f9a585;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.sign-up:hover {
  background-color: #fc8b5e;
}

.img-not-connected {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: #f3f3f3;
}

/* HOME: search */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;

  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 0;
}

h1 {
  font-size: 6rem;
  line-height: 0.9rem;
  color: #747474;
  font-weight: 200;
}

h1 span {
  color: #f9a585;
}

/* FOOTER HOME */
footer {
  margin: 0;
  padding: 0;
}

.footer-home {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 0 20px 0;
}

.footer-home ul {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.footer-home ul li {
  list-style-type: none;
  display: inline;
  color: #a7a7a7;
  margin: auto 15px;
  font-weight: 300;
  font-size: 1rem;
}

.footer-home a:link {
  color: #575757;
}

.footer-home a:focus,
.footer-home a:visited {
  color: #575757;
}

.footer-home a:hover {
  color: black;
}
