@model MessagesViewModel
@inject UserManager<Artist> UserManager

@{ 
    bool sender = false;
}

@if (Model.Messages.Count > 0)
{
    foreach (Message message in Model.Messages)
    {
        sender = (message.Sender.UserName == UserManager.GetUserName(User));
        <div class="messageBox @(sender ? "sender" : "receiver")">
            <p class="messageContent">@message.Content</p>
            <p class="small dateMessage">@Html.DisplayFor(m => message.CreationDate)</p>
        </div>
    }
}
else
{
    <p>Start a conversation!</p>
}