@model MessagesIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>

<h3>SEND A MESSAGE TO @Model.Receiver.Firstname @Model.Receiver.Lastname</h3>

<form asp-controller="Messages" asp-action="Messages"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#ajaxresult">
    <input type="hidden" asp-for="@Model.ReceiverId" value="@Model.Receiver.Id" />
    <textarea asp-for="MessageToSend.Content"></textarea>
    <input type="submit" value="send" class="btn btn-artfolio" />
</form>

<div id="ajaxresult">

    @await Html.PartialAsync("_Messages.cshtml", Model)

</div>
@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}
