@model MessagesIndexViewModel
@inject SignInManager<Artist> SignInManager
@inject UserManager<Artist> UserManager

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 mx-auto">
    <h2 class="font-weight-lighter">select an artist</h2>
    @if (!Model.Artists.Any())
    {
        <h6>None to display</h6>
    }
    else
    {
        <div class="scroll-horizontal-artists">
            @foreach (var artist in Model.Artists)
            {
                <a asp-controller="Messages" asp-action="Messages" asp-route-userName="@artist.UserName" class="artist-card">
                    <div class="d-flex w-100 align-items-center">
                        <div class="profile-pic">
                            @if (artist.PhotoFilePath != null)
                            {
                                <img src="~/images/avatars/thumbnails/@Html.DisplayFor(modelItem => artist.PhotoFilePath)" width="80" style="margin: auto" alt="profile picture" />
                            }
                        </div>
                        <div class="d-flex justify-content-between flex-grow-1">
                            <div class="ml-2 d-flex flex-column justify-content-center">
                                <h6 class="m-0">
                                    @Html.DisplayFor(modelItem => artist.Firstname) @Html.DisplayFor(modelItem => artist.Lastname)
                                </h6>
                                <small class="m-0 text-muted">
                                    @Html.DisplayFor(modelItem => artist.UserName)
                                </small>
                            </div>
                            @if (artist.FollowedBy.Count > 0)
                            {
                                foreach (var followedBy in artist.FollowedBy)
                                {
                                    <img class="ml-1 d-flex align-items-center" src="~/images/icons/star-outline.svg" width="15" alt="You follow this artist" title="You follow this artist" />
                                }
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>

@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}