<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - artfolio</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/mainStyle.css" />
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>

    <header>
        <nav>
            <div class="nav-left">
                <a class="brand" asp-area="" asp-controller="Home" asp-action="Index"><span>art</span>folio</a>

                <form class="search-box">
                    <img src="~/images/design/home/search.png" alt="search for an artist, an artwork..." />
                    <input type="text"
                           placeholder="search for an artist, an artwork..." />
                </form>
            </div>
            <partial name="_LoginPartialHome" />
        </nav>
    </header>

    <div>
            @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
