<!DOCTYPE html>
<html lang="en">
<head>
    @* Metadata *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - artfolio</title>

    @* CSS *@
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @* Favicon *@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
    <header>
        <nav>
            <!-- Logo -->
            <a class="brand brand-short" asp-area="" asp-controller="Home" asp-action="Index"><span>a</span>f</a>
            <a class="brand brand-long" asp-area="" asp-controller="Home" asp-action="Index"><span>art</span>folio</a>

            <!-- Search bar -->
            <form class="my-auto d-inline search-box" asp-controller="Discover" asp-action="Index" method="get">
                <div class="input-group px-2 py-1">
                    <img src="~/images/icons/search-outline.svg" width="20" class="m-2" />
                    <input name="q" class="form-control mr-md-2 form-artfolio" type="text" value="@ViewData["q"]" placeholder="search for an artist, an artwork...">
                    <span class="input-group-append">
                        <button class="btn btn-artfolio btn-category" type="submit">
                            <img src="~/images/icons/arrow-forward-outline.svg" width="20" />
                        </button>
                    </span>
                </div>
            </form>

            <!-- Profile Management -->
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    <main role="main" id="main">
        @RenderBody()
    </main>
    @*<footer class="footer fixed-bottom font-small pt-4">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h5 class="font-weight-lighter">artfolio</h5>
                        <p>
                            This plateform has been created in 2020 by Gautier LAISNE as a project to share artworks legally. It is meant to be a computer science mandatory project.
                        </p>
                        <p>
                            This website uses ASP.NET Core 3.1, EntityFramework Core and SQL Server. <b>All artworks on this website comes from ... and are uploaded in a demonstration purpose.</b>
                        </p>
                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-lighter">infos</h5>
                        <ul class="list-unstyled">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">contact</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">privacy</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="CookiesPolicy">cookies policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-muted text-center small py-3">
                © 2020 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/">artfolio</a>
            </div>
        </footer>*@

    @*<footer class="col-12 col-md-7 mx-auto">
            <div class="col-12 col-md-7 artfolio-container">
                <h5 class="font-weight-lighter">artfolio</h5>
                <p class="text-muted small">
                    This plateform has been created in 2020 by Gautier LAISNE as a project to share artworks legally. It is meant to be a computer science mandatory project.
                    <br />
                    This website uses ASP.NET Core 3.1, EntityFramework Core and SQL Server. <b>All artworks on this website comes from ... and are uploaded in a demonstration purpose.</b>
                </p>
            </div>

            <div class="col-12 col-md-3">
                <h5 class="font-weight-lighter">infos</h5>
                <ul class="list-unstyled">
                    <li class="small"><a asp-area="" asp-controller="Home" asp-action="Contact">contact</a></li>
                    <li class="small"><a asp-area="" asp-controller="Home" asp-action="Privacy">privacy</a></li>
                    <li class="small"><a asp-area="" asp-controller="Home" asp-action="CookiesPolicy">cookies policy</a></li>
                </ul>
            </div>

            <div class="footer-copyright text-muted text-center small py-3 col-12">
                © 2020 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/">artfolio</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>