@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <div class="nav-right">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="sign-in primary-underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name !</a>


            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="sign-up">logout</button>
            </form>

            <a href="#" class="profile">
                <div class="img-not-connected"></div>
            </a>
        }
        else
        {
            <a class="sign-in primary-underline" asp-area="Identity" asp-page="/Account/Login">sign in</a>

            <a class="sign-up" asp-area="Identity" asp-page="/Account/Register">sign up</a>

            <a class="profile" asp-area="Identity" asp-page="/Account/Register">
                <div class="img-not-connected"></div>
            </a>
        }
    </div>
