<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/tagsinput.css" type="text/css">
</head>
<body class="body-home">

    <header class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand font-weight-light d-lg-none" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: #F9A585;">art</span>folio</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <form class="form-inline my-lg-0 search-box-header px-1 py-1 col-lg-6 d-none">
                    <div class="col-10 d-flex flex-row col-sm-9 col-lg-10">
                        <img src="~/images/icons/search-outline.svg" width="20" class="d-inline-block" />
                        <input class="form-control mr-md-2 form-artfolio" type="search" placeholder="search for an artist, an artwork...">
                    </div>
                    <button class="btn btn-artfolio my-0 btn-category" type="submit">
                        <img src="~/images/icons/arrow-forward-outline.svg" width="20" />
                    </button>
                </form>

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <main class="home-main">
        <div class="centered col-12 col-md-10">
            <h1 class="home-brand font-weight-light d-none d-lg-block"><span style="color: #F9A585;">art</span>folio</h1>
            <form class="form-inline my-lg-0 search-box-header px-1 py-1 col-lg-9 col-xl-6">
                <div class="col-10 d-flex flex-row col-sm-9 col-lg-10">
                    <img src="~/images/icons/search-outline.svg" width="20" class="d-inline-block" />
                    <input class="form-control mr-md-2 form-artfolio" type="search" placeholder="search for an artist, an artwork...">
                </div>
                <button class="btn btn-artfolio my-0 btn-category" type="submit">
                    <img src="~/images/icons/arrow-forward-outline.svg" width="20" />
                </button>
            </form>
        </div>
    </main>

        <div class="discover-link">
            <a asp-area="" asp-controller="Home" asp-action="Index2">
                discover artworks
                <img src="~/images/design/home/arrowDown.svg" />
            </a>
        </div>

    <footer class="footer footer-home">
            <ul class="d-flex flex-row list-unstyled col-12 justify-content-end">
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">contact</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">privacy</a></li>
                <li class="muted">artfolio - 2020</li>
            </ul>
    </footer>

    <div style="display: none">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
