@model Artwork

<div class="modal fade" id="deleteArtwork" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Delete the artwork</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="artfolio-content" asp-controller="Artwork" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.ArtworkId" />

                    Are you sure you want to delete this artwork ?
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-artfolio btn-danger" style="margin-top: 10px;">delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>