.artwork-large h1, .artwork-large h4 {
  font-weight: lighter;
  font-family: "Source Sans Pro"; }

.artwork-large-img {
  border: 9px solid black;
  box-shadow: 0 10px 30px gray;
  border-radius: 5px; }
