/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Source Sans Pro';
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    color: #747474;
    font-size: 3rem;
}

a.navbar-brand span {
    color: #F9A585;
}

/* Provide sufficient contrast against white background */


.searchBox {
    border-color: #DEDEDE;
    border: 1px solid #DEDEDE;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.searchInput {
    color: #A4A4A4;
    font-weight: 300;
    border-radius: unset;
    min-width: 300px;
    border: 0;
}

.searchInput::placeholder {
    color: #A4A4A4;
}

.input-group-prepend > span {
    background: white;
    border-radius: unset;
    border: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item .sign-up-btn {
    color: white !important;
    background-color: #F9A585;
    border-radius: 5px;
    transition: ease-in-out .1s;
    font-weight: 200;
}

.nav-item .sign-up-btn:hover {
    background-color: #FB8051;
    color: white !important;
    text-decoration: none;
}

.nav-item .sign-in-btn {
    color: black !important;
    border-bottom: 2px solid #F9A585;
    font-weight: 200;
}

.nav-item .sign-in-btn:hover {
    color: grey !important;
    border-bottom: 2px solid #FB8051;
    text-decoration: none;
}

.nav-item .img-not-connected-btn {
    padding: 0;
}

.nav-item .img-not-connected {
    background: #F3F3F3;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
