@model ApplicationUser

@{
    ViewData["Title"] = "CurrentUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CurrentUser</h1>
<p>User.ID from ApplicationUser : @Model.Id</p>
<p>Gender from ApplicationUser : @Model.Gender</p>
<p>User.Email from ApplicationUser : @Model.Email</p>

