@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "access denied";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <p class="text-danger artfolio-content" style="color: red; font-weight: bold">You do not have access to this resource.</p>
</section>