@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "confirm email";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <div class="artfolio-content">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</section>