@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "forgot password confirmation";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <p class="artfolio-content">
        Please check your email to reset your password.
    </p>
</section>