@page
@model LockoutModel
@{
    ViewData["Title"] = "locked out";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <p class="text-danger artfolio-content">This account has been locked out, please try again later.</p>
</section>