@page
@model LogoutModel
@{
    ViewData["Title"] = "log out";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <p class="artfolio-content">You have successfully logged out of the application.</p>
</section>