@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "reset password confirmation";
}

<section class="col-md-3 mx-auto artfolio-container">

    <!-- Title -->
    <h1 class="artfolio-container-header">@ViewData["Title"]</h1>

    <!-- Content -->
    <p class="artfolio-content">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</section>